.components__item {
    margin: 20px;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.3);
    transition: 0.5s ease;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 300px)); */
}

.components__item:hover {
    transform: scale(1.1);
}
.components__item:hover .components__img{
    transform: scale(1.4);
}

.components__img {
    width: 80%;
    margin-left: 30px;
    filter: drop-shadow(6.01498px 4.00999px 7.01748px rgba(0, 0, 0, 0.3));
    transition: 0.5s ease;
}



.components__info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

.components__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2D2D2D;
}

.components__currency {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #0A9EDF;
    margin-top: 8px;
    margin-bottom: 28px;
}

.components__btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: none;
    outline: none;
    padding: 8px 42px;
    background: #0A9EDF;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    line-height: 19px;
    margin-bottom: 15px;
    border: 2px solid #0A9EDF;
    transition: .3s ease;
}

.components__btn:hover {
    border: 2px solid #0A9EDF;
    background-color: #fff;
    color: #0A9EDF;
}

.components__btn:active {
    border: 2px solid #0A9EDF;
    background-color: #0A9EDF;
    color: #fff;
    opacity: 0.6;
}