@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap);

body {
  font-family: 'Inter', sans-serif;
  /* overflow: hidden; */
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding-left: 50px;
  padding-right: 50px;
}